    body {
        font-size:0.8em;
        margin:0;
        ackground-image:url('images/rubyrails.png');
        font-family: Verdana;
        background-position:top,left;     
    }
    .begin {        
        padding:1.5em;                
        text-align:center;        
        color:gray;
        background-color:black;      
        margin:0;    
    }
    #tab1 {
        margin-right:10em;    
        width:50%;   
        font-size:1.3em;    
    }
            
    #tab2 {
        background-color:#c52f24;
        width:50% ;
        height:3em;   
        margin-top:0;    
        padding:0.7em;            
        color:white;
        font-size:1.3em;              
    }            
       
    #tabella {
        background-color:#c52f24;
        width:100%;
        height:7em;   
        margin-top:0;                
        margin-left:1px;    
    } 
    #pank {
        color:#f1938c;
    }
    #raimage {
        position:relative;
        left:1px;
        top:0;    
    }    
    #whitel {
        color:white;
        margin-left:2em;
        margin-top:2em;
    }
    #railorg {
        color:white;
        text-decoration:underline;
    }
    a {
        color:red;
        text-decoration:underline;
        margin:0.1em;
    }
        
    h3 {
        font-size:2em;    
    }
    .azzurro {
        font-size:1.3em;
        text-align:left;
        background-color:#d5e6f7 ;   
        width:78%;
        height:1%;
        margin-top:0;
    }
    #tab3 {
        width:1em
        height:1em    
    }
    #cartello1 {
        z-index:1;
        position:absolute;
        top:144px;
        right:0;    
    }
    .guides {
        padding-top:0;        
        margin-top:0;
        margin-left: 2em;
        margin-bottom:0.5em;
        width:70%;
        text-align:left;
    }
    h3.guides  {
        color:#333333;
        font-size:1.5em;
        text-decoration:none;
        margin-top:0.5em;
        margin-bottom:0.5em;
        text-align:left;
   }
    a.guides {
        color:#980905;
        text-decoration:underline;
        font-size:1.2em;
        font-weight:bold;
        text-align:left;
    }
    border.guides {        
        border-bottom:solid;
        border-width:1em;
        border-color:gray;
        padding:0;
        text-align:left;
    }
    p.guides {
        text-align:left;
        font-size:0.95em;
    }
    td.guides {
        border-bottom:solid;
        border-width:0.1em;
        border-color:#cccccc;    
        text-align:left;
    }
